{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {% include 'cdnlines.html' %}
    
</head>
<body>
    <div id="header" class="bg-primary">
        <span class="logo" style="color:darkblue;">Bookmarks</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url 'dashboard' %}">My dashboard</a>
            </li>
            <li {% if section == "images" %}class="selected"{% endif %}>
                <a href="#">Images</a>
            </li>
            <li {% if section == "people" %}class="selected"{% endif %}>
                <a href="#">People</a>
            </li>
            <li {% if section == "password" %}class="selected nav-item"{% endif %}>
                <a  href="{% url 'password_change' %}">Password_Change</a>
            </li>
        </ul>
        {% endif %}
 
 <span class="user">
 {% if request.user.is_authenticated %}
 Hello {{ request.user.first_name }},
 <a href="{% url 'logout' %}" style="color:rgb(236, 109, 109); font-size: 15px;">Logout</a>
 {% else %}
 <a href="{% url 'login' %}" style="color:rgb(236, 109, 109); font-size: 15px;">Log-in</a>
 <!-- <a href="{% url 'password_reset' %}" style="color:blanchedalmond;">Forget-password</a> -->
 {% endif %}
 </span>
    </div>
    <div id="content">
        {% block content %}


        {% endblock %}
    </div>
</body>
</html>